
#datetime {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px
}
#datetime h1 {
  font-size: 6.3em;
}
#datetime h2 {
  font-size: 1.6em;
}

#forecast ul li{
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
  transition: all 0.8s ease;
}
#forecast ul li h3 {
  font-size: 1.3em;
  color: #444;
}
#forecast ul li .today h3 {
  color: #4ae;
}
#forecast ul li .today h4 {
  color: #4ae;
}
#actionbar {
  transition: all 0.8s ease;
}
#actionbar a {
  font-size: 2.2rem;
  color: #333;
}

#actionbar span {
  transition: color 0.3s ease;
}

#actionbar span:hover {
  color: #4ae;
}

.btn {
  transition: all 0.3s ease;
}

::selection {
  color: #fff;
  background-color: #4ae;
}