
/**** Basic styles ****/
.container {
  transition: all 0.8s ease;
}

::selection {
  color: #fff;
  background-color: #4ae;
}
.view.ng-enter {
    -webkit-animation: flipInX 0.5s ease 0.3s both;
    -o-animation: flipInX 0.5s ease 0.3s both;
    animation: flipInX 0.5s ease 0.3s both;
}

.view.ng-leave {
    -webkit-animation: zoomOutUp 0.3s ease-in-out both;
    -o-animation: zoomOutUp 0.3s ease-in-out both;
    animation: zoomOutUp 0.3s ease-in-out both;
}



/**** Home page ****/

#datetime {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

#datetime h1 {
  font-size: 6em;
}

#datetime h2 {
  font-size: 1.6em;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#forecast ul li{
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
  transition: all 0.8s ease;
}
#forecast ul li h3 {
  font-size: 1.1em;
  color: #444;
  margin-top: -1px;
}

#forecast h4:last-child {
  margin-top: 23px;

}

#forecast ul li .today {
  color: #4ae;
}

#forecast ul li .today h3 {
  color: #4ae;
}

#forecast ul li .today h4 {
  color: #4ae;

}

#actionbar {
  transition: all 0.8s ease;
  position: fixed;
  right: 0px;
  top: 0px;
  
}


.view-weather h4, .view-weather h5 {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.view-weather.ng-enter {
    -webkit-animation: rollIn 0.7s ease 0.4s both;
    -o-animation: rollIn 0.7s ease 0.4s both;
    animation: rollIn 0.7s ease 0.4s both;
    /* -webkit-animation-name: rollIn;
    -moz-animation-name: rollIn;
    -ms-animation-name: rollIn;
    -o-animation-name: rollIn;
    animation-name: rollIn;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -ms-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;  */
}

/**** Favorite page ****/

#recent-pages .page {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.6);
  padding: 13px;
  background-origin: padding-box;
}

/**** Setting page ****/
#setting-page {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
.btn {
  transition: all 0.3s ease;
}

