<div id="datetime">
  <h1>{{date.raw | date: "HH:mm:ss"}}</h1>
  <h2>{{ date.raw | date:'EEEE, MMMM, dd, yyyy' | dateVn }}</h2>
</div>
<div id="forecast">
  <!-- <pre>{{ weather.forecast | json }}</pre> -->
  <ul class="row list-unstyled">
    <li ng-repeat="day in weather.forecast.forecastday" class="col-md-3 col-xs-6 view-weather">
      <div ng-class="{today: $index == 0}">
        <img class="{{ day.icon }}" ng-src="{{ day.icon_url }}" />
        <h3>{{ day.low.celsius + "/" + day.high.celsius }}&deg;C</h3>
        <h5>Độ ẩm {{day.avehumidity}}%</h5>
        <h4 ng-if="$index == 0">Hôm nay, {{day.date.day}}/{{day.date.month}}</h4>
        <h4 ng-if="$index != 0">{{ day.date.weekday | dayname }}, {{day.date.day}}/{{day.date.month}}</h4>
      </div>
    </li>
  </ul>
</div>
<div id="actionbar" class="text-center">
  <ul class="list-inline">
    <li><a href="#/pages" title="Favorites"><span class="glyphicon glyphicon-th"></span></a></li>
    <li><a href="#/" title="Reload"><span class="glyphicon glyphicon-refresh"></span></a></li>
    <li><a href="#/settings" title="Settings"><span class="glyphicon glyphicon-cog"></span></a></li>
  </ul>
</div>