<div id="recent-pages">
	<ul class="row list-unstyled">
		<li ng-repeat="page in pages" class="col-sm-6 col-md-4 page">
			<a href="{{page.link}}">
				<div>
					<p>{{page.title}}</p>
					<img ng-src="{{page.thumbnail}}" alt="{{'Alt for ' + page.title}}">
				</div>
			</a>
		</li>
	</ul>
</div>
<br>
<div id="actionbar" class="text-center">
  <ul class="list-inline">
    <li><a href="#/weather" title="Weathers"><span class="glyphicon glyphicon-cloud"></span></a></li>
    <li><a href="#/settings" title="Settings"><span class="glyphicon glyphicon-cog"></span></a></li>
  </ul>
</div>